body {
    font-family: 'Montserrat', sans-serif;
}


.container{
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid black;
    
}

.site-logo{
    color: #F07F2E;
    text-decoration: none;
        
        gap: 8px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.6;
}

.page-nav{
    display: flex;
    
    gap: 40px;
}

.page-nav a{

    font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.5px;
    color: #2C2C2C;
    text-decoration: none;

}

.page-nav a:hover{
    color: #F07F2E;
}